<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<script src="static/util.js"></script>
	<script src="static/ws.js"></script>

	<title>BrowserCV</title>
	<link rel="stylesheet" href="static/main.css" />
</head>
<body>
	<h1>BrowserCV</h1>

	<div class="select">
		<label for="videoSource">Video source: </label>
		<select id="videoSource"></select>
	</div>
	<video id="camera" autoplay playsinline></video>



	<script src="static/main.js"></script>
</body>
</html>
